/* header */
.header_wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.2s;
}

.header_wrap::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8rem;
    width: 100%;
    height: 1px;
    background: #ededed;
    z-index: 100;
}

.header_wrap.active::after {
    height: auto;
    /* height: 20rem; */
    border-color: #ededed;
    background: #fcfcfc;
}
.header_wrap .inner {
    position: relative;
    max-width: 1400px;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_wrap .inner .logo img {
    width: 11.9rem;
    height: 4rem;
}

.header_wrap .inner .navbar {
    display: flex;
    align-items: center;
    height: 100%;
}
.header_wrap .inner .navbar > li {
    height: 100%;
}
.header_wrap .inner .navbar > li > a {
    font-family: 'GmarketSansMedium' !important;
    position: relative;
    display: block;
    height: 100%;
    padding: 0 4rem;
    color: #191919;
    line-height: 8rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--font-eng);
    z-index: 101;
}
.header_wrap .inner .ham_wrap,
.header_wrap .inner .member.pc {
    width: 11.9rem;
    text-align: right;
}
.header_wrap .inner .ham_wrap.mo {
    display: none;
}
.header_wrap .navbar li{position: relative;}
.header_wrap .navbar li:after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: 1px solid #333;
    transition: all 250ms ease-out;
    left: 50%;
    bottom: 0px;
    width: 0;
}
.header_wrap .navbar li:hover:after{
    transition: all 250ms ease-out;
    left: 40px;
    width: calc(100% - 80px);
}

/* 반응형 */
@media (max-width: 1190px) {
    .header_wrap .inner .logo {
        width: 12.9rem;
    }
    .header_wrap .inner .ham_wrap {
        width: 12.9rem;
        text-align: right;
    }
}
/* only pc */
@media (min-width: 1181px) {
    .header_wrap .inner .navbar > li > a::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        width: 0;
        height: 1px;
        transform: translateX(-50%);
        transition: width 0.3s;
        z-index: 10;
    }
    /* 서브메뉴포함호버 */
    .header_wrap.active .inner .navbar > li:hover > a::after {
        width: calc(100% - 8rem);
        background-color: #191919;
    }
    .header_wrap.active .inner .sub-menu > li > a:hover {
        color: var(--color-point);
    }
    /* pc에서만 */
    .header_wrap .inner .sub-menu {
        opacity: 0;
        pointer-events: none;
    }
    .header_wrap.active .inner .sub-menu {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 1180px) {
    .header_wrap {
        /* transition: none; */
    }
    .header_wrap.up {
        top: calc(100vw * (-105 / 1180));
    }
    .header_wrap::before {
        top: calc(100vw * (100 / 1180));
    }
    .header_wrap::after {
        display: none;
    }
    .header_wrap .inner {
        max-width: 100%;
        padding: 0 calc(100vw * (44 / 1180));
        height: calc(100vw * (100 / 1180));
    }
    .header_wrap .inner .logo img {
        width: calc(100vw * (132 / 1180));
        height: calc(100vw * (40 / 1180));
    }
    .header_wrap .inner .nav {
        position: fixed;
        right: -100%;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        height: 100dvh;
        padding-top: calc(100vw * (100 / 1180));
        z-index: -1;
        background: #fff;
        transition: all 0.2s;
    }
    .header_wrap.active .inner .nav {
        right: 0;
    }
    .header_wrap .inner .navbar {
        display: block;
        overflow-y: auto;
    }
    .header_wrap .inner .navbar > li {
        height: auto;
        margin-top: calc(100vw * (20 / 1180));
    }
    .header_wrap .inner .navbar > li:first-child {
        margin-top: calc(100vw * (90 / 1180));
    }
    .header_wrap .inner .navbar > li:last-child {
        margin-bottom: calc(100vw * (100 / 1180));
    }
    .header_wrap .inner .navbar > li > a {
        padding: 0 calc(100vw * (50 / 1180));
        line-height: 1.5;
        font-size: calc(100vw * (48 / 1180));
        font-weight: 700;
    }
   
    .header_wrap .inner .navbar > li.on > a,
    .header_wrap .inner .navbar > li.current_page_parent > a,
    .header_wrap .inner .navbar > li.current_page_item > a,
    .header_wrap.active .inner .sub-menu > li.current_page_item > a {
        color: var(--color-point);
    }
    .header_wrap .inner .sub-menu {
        display: none;
        position: static;
        transition: none;
        height: 100%;
        /* height: 0;
        opacity: 1;
        overflow: hidden; */
    }
    .header_wrap .inner .navbar > li.on > a span,
    .header_wrap .inner .navbar > li.current_page_parent > a span,
    .header_wrap .inner .navbar > li.current_page_item > a span {
        position: relative;
        display: inline-block;
    }
    .header_wrap .inner .navbar > li.on > a span::after,
    .header_wrap .inner .navbar > li.current_page_parent > a span::after,
    .header_wrap .inner .navbar > li.current_page_item > a span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(100vw * (1 / 1180));
        width: 100%;
        height: 2px;
        background: var(--color-point);
    }
    .header_wrap .inner .navbar > li.on .sub-menu {
        /* display: block; */
        /* height: auto;
        pointer-events: auto; */
    }
    .header_wrap .inner .sub-menu > li {
        margin: 0;
        padding-top: calc(100vw * (32 / 1180));
    }
    .header_wrap .inner .sub-menu > li:first-child {
        margin: 0;
        padding-top: calc(100vw * (30 / 1180));
    }
    .header_wrap .inner .sub-menu > li:last-child {
        padding-bottom: calc(100vw * (36 / 1180));
    }
    .header_wrap .inner .sub-menu li a {
        display: block;
        margin-left: 0;
        padding-left: calc(100vw * (82 / 1180));
        font-size: calc(100vw * (32 / 1180));
    }
    .header_wrap .inner .sub-menu li.on a {
        color: var(--color-point);
    }
    .header_wrap .inner .ham_wrap {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(100vw * (24 / 1180));
    }
    .header_wrap .inner .ham_wrap .link {
        width: calc(100vw * (40 / 1180));
        height: 100%;
    }
    .header_wrap .inner .ham_wrap .link::after {
        width: 100%;
        height: 100%;
        background-image: url("../images/common/ico_ham_wrap_black_t.svg");
    }
    .header_wrap .inner .ham_wrap.pc {
        display: none;
    }
    .header_wrap .inner .ham_wrap.mo {
        display: flex;
    }
   
    /* calc 계산시 bar 크기의 비율이 맞지않음*/
    .header_wrap .inner .hamburger a div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 22px;
        margin-top: 2px;
    }
    .header_wrap .inner .hamburger a span {
        display: block;
        width: 100%;
        height: 2px;
        background: #222;
        transition: all 0.2s;
    }
    .header_wrap .inner .hamburger.on a div {
        margin: 0;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(11px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(2) {
        transform: scale(0);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-9px) rotate(-135deg);
    }
}


@media (max-width: 970px) {
    .header_wrap .inner .hamburger a div {
        width: 24px;
        height: 18px;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(8px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-8px) rotate(-135deg);
    }
}

@media (max-width: 820px) {
    .header_wrap .inner .hamburger a div {
        width: 20px;
        height: 16px;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(7px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-7px) rotate(-135deg);
    }
}

@media (max-width: 767px) {
    .header_wrap.up {
        top: calc(100vw * (-115 / 767));
    }
    .header_wrap::before {
        top: calc(100vw * (112 / 767));
    }
    .header_wrap::after {
        display: none;
    }
    .header_wrap .inner {
        padding: 0 calc(100vw * (40 / 767));
        height: calc(100vw * (112 / 767));
    }
    .header_wrap .inner .logo img {
        width: calc(100vw * (160 / 767));
        height: calc(100vw * (48 / 767));
    }
    .header_wrap .inner .nav {
        padding-top: calc(100vw * (112 / 767));
    }
    .header_wrap .inner .navbar > li {
        margin-top: calc(100vw * (18 / 767));
    }
    .header_wrap .inner .navbar > li:first-child {
        margin-top: calc(100vw * (80 / 767));
    }
    .header_wrap .inner .navbar > li:last-child {
        margin-bottom: calc(100vw * (100 / 767));
    }
    .header_wrap .inner .navbar > li > a {
        padding: 0 calc(100vw * (40 / 767));
        font-size: calc(100vw * (48 / 767));
    }
    .header_wrap .inner .navbar > li.on > a span::after,
    .header_wrap .inner .navbar > li.current_page_parent > a span::after,
    .header_wrap .inner .navbar > li.current_page_item > a span::after {
        bottom: calc(100vw * (1 / 767));
        height: 1px;
    }
    .header_wrap .inner .ham_wrap {
        gap: calc(100vw * (32 / 767));
    }
    .header_wrap .inner .hamburger {
        width: calc(100vw * (48 / 767));
    }
    .header_wrap .inner .hamburger a div {
        width: 36px;
        height: 28px;
    }
    .header_wrap .inner .hamburger a span {
        width: 100%;
        height: 4px;
        margin: 0;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(12px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-12px) rotate(-135deg);
    }
}

@media (max-width: 620px) {
    .header_wrap .inner .hamburger a div {
        width: 30px;
        height: 22px;
        margin-top: 0;
    }
    .header_wrap .inner .hamburger a span {
        height: 2px;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(9px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-11px) rotate(-135deg);
    }
}

@media (max-width: 480px) {
    .header_wrap .inner .hamburger a div {
        width: 20px;
        height: 16px;
    }
    .header_wrap .inner .hamburger a span {
        height: 2px;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(7px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-7px) rotate(-135deg);
    }
}

@media (max-width: 360px) {
    .header_wrap .inner .hamburger a div {
        width: 16px;
        height: 14px;
    }
    .header_wrap .inner .hamburger.on a span:nth-child(1) {
        transform: translateY(6px) rotate(135deg);
    }
    .header_wrap .inner .hamburger.on a span:nth-child(3) {
        transform: translateY(-6px) rotate(-135deg);
    }
}
