@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* header */
/* header */

#header{
  font-family: Pretendard, sans-serif;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: transparent;
}
#header .inner{
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  gap: 40px;
  justify-content: space-around;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
#header .logo a{
  display: flex;
  height: 30px;
}
#header .logo a img{
  width: 100%;
}
#header .logo .logo_c{
  display: none;
}
#header .gnb{
  height: 80px;
  margin-right: 120px;
}
#header .gnb > ul > li{
  float: left;
  position: relative;
}
#header .gnb > ul > li > a{
  display: block;
  font-size: 14px;
  line-height: 80px;
  font-family: Pretendard Regular, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0 40px;
  color: #fff;
}
#header .gnb > ul > li:hover > a{
  color: #01c34e;
}
#header .utils {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  align-items: center;
  height: var(--header-height,80px)
}

#header .utils .langs ul {
  border-radius: 1.4285714286em;
  font-size: 14px;
  font-weight: 500;
  width: 2.8571428571em;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: grid;
  overflow: hidden;
  grid-template-columns: 2.8571428571em 1px 2.8571428571em;
  transition: width calc(var(--anim-duration) * 3) cubic-bezier(.23,1,.32,1),padding calc(var(--anim-duration) * 3) cubic-bezier(.23,1,.32,1)
}

#header .utils .langs ul li {
  color: rgba(255,255,255,.7);
  font-weight: 500
}

#header .utils .langs ul li a {
  width: 2.7142857143em;
  height: 2.7142857143em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
}

#header .utils .langs ul li.current {
  color: #ddd
}

#header .utils .langs ul .split {
  display: flex;
  justify-content: center;
  align-items: center
}

#header .utils .langs ul .split i {
  display: block;
  width: 1px;
  height: .8em;
  background: var(--color-line,rgba(255,255,255,.15))
}

/* 헤더 흰버전 */
#header.bg_white{
  background-color: #fff;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.07);
}
#header.bg_white .gnb > ul > li > a{
  color: #333;
  font-family: Pretendard, sans-serif;
}
#header.bg_white .logo_c{display: block;}
#header.bg_white .logo_w{display: none;}

/* submenu */
header .gnb > ul > li > .subMenu{
  background-color: rgba(255, 255, 255, .95);
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  flex: 1;
  display: none;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 14px 7px rgba(0, 0, 0, .06);
  width: 180px;
}
header .gnb > ul > li > .subMenu li a{
  display: block;
  height: 50px;
  padding: 0 25px;
  line-height: 50px;
  text-align: center;
}
header .gnb > ul > li > .subMenu li:hover a{
  color: #01c34e;
}
.login a{
  display: block;
  padding: 10px 30px;
  background-color: #01c34e;
  color: #fff;
  word-break: keep-all;
  font-family: 'Pretendard';
  border-radius: 8px;
}



/* quickMenu */

.quick{
  position: absolute;
  top:50%; right: 20px; transform: translateY(-50%);
}
.quick span{
  display: block;
  width: 25px; height: 2px;
  background-color: #333;
  margin-bottom: 7px;
  color: transparent; font-size: 0;
}
.quick span:last-child{
  margin-bottom: 0;
}
.quick:hover span{
  background-color: #0ec35b;
}


/* quick click할때 */

.leftWrap{
  width: 300px; height: 100%;
  position: fixed; top:0; right: -300px; 
  z-index: 99;
  background-color: #0ec35b;
}
.close1{
  position: absolute; top: 20px; left: 20px; 
  width: 30px; height: 30px; 
  background-color: #fff; 
  border-radius: 50%; 
  font-size: 0;
}
.close1::after{
  content: 'X'; 
  font-size: 18px; color: #0ec35b; 
  line-height: 30px; 
  display: block; 
  text-align: center; 
  font-weight: bold;
}
.q_menu{padding: 80px 0;}
.q_menu ul li a{
  width: 300px;
  display: block;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  transition: color 0.3s;
}
.q_menu ul li a:hover{color: #333;}



/* visual */
.visual{
  z-index: 9;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
}
.visual::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 9;
  height: 100vh;
}
.visual video{
  width: 100%;
}

.visual .txt_wrap{
  position: absolute; 
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  color: #fff;
  z-index: 99;
  max-width: 1400px;
  padding: 0 20px;
  display: block;
  width: 100%;
}
.visual .txt_wrap h3{
  font-family: 'Pretendard Bold';
  font-size: 70px;
  margin-bottom: 0px;
}
.visual .txt_wrap p{
  font-family: 'Pretendard Regular';
  font-size: 24px;
  margin-top: 30px
}

.en {
  font-family: "Urbanist", sans-serif;
}
.t_left{
  text-align: left !important;
}

.more_btn{
  font-family: 'Pretendard Regular';
  color:#fff;
  display: inline-block;
  margin-top: 50px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 180px;
  text-align: center;
}
.more_btn span{
  transition: all 0.2s;
}
.more_btn:hover span{
  margin-left: 10px;

}

@media screen and (max-width:1300px){
  .visual video{
    width: auto;
    /* height: 100vh; */
  } 
}

/* 움직이는 텍스트 */
.moveText {
  position: absolute; 
  left: 0;
  bottom: 1rem; 
  z-index: 2;
  overflow: hidden;
}

.moveText .text {
  font-family: "Urbanist", sans-serif; 
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 7vw;
  font-weight:700;
}
.moveText .text span{
  margin-right: 25px;
}
.moveText .text p {
  animation: textLoop 55s linear infinite; 
  animation-play-state: running; 
  padding-right:20px; 
  line-height: 1.1;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
@keyframes textLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* 사업영역 */
.bis_sec .title_wrap .tit, .bis_sec .title_wrap .tit_en{
  text-align: left;
}
.bis_sec .slide_box {
  margin-top: 10px;
  padding-left: 20px;
}
.bis_sec .slide_box .sb_wrap{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0 40px; padding-right: 40px;
}
.bis_sec .slide_box .sb_wrap .img {
  filter: grayscale(100%); 
  transition: all .3s;
}
.bis_sec .slide_box .sb_wrap .item:hover .img {
  filter: none;
}
.bis_sec .slide_box .swiper-slide .img {
  filter: grayscale(100%); 
  transition: all .3s;
}
.bis_sec .slide_box .swiper-slide-active .img {
  filter: none;
}
.bis_sec .slide_box .img img{
  width: 100%;
}
.bis_sec .slide_box a{
  display: block;
}

.bis_sec .slide_box .txt_box {
  margin-top: 20px; 
  color: #fff;
}
.bis_sec .slide_box .txt_box .tit {
  font-size: 2rem; 
  font-weight: 700; 
  text-align: left;
}
.bis_sec .slide_box .txt_box .txt {
  font-size: 1rem; 
  font-weight: 300; 
  margin-top: 12px;
  word-break: keep-all;
}




/* section01 */
.section{
  background-color: #292b2d;;
}
.section .inner{
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 140px 20px;
  overflow: hidden;
}
.title_wrap{
  margin-bottom: 100px;
}
.tit_en {
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #0ec35b;
}
.tit {
  text-align: center;
  font-family: Pretendard, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.sub_txt {
  text-align: center;
  margin-top: 2rem;
  font-family: Pretendard Regular, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  display: block;
  color: #fff;
}
.content_wrap {
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
}
.con_box {
  flex: 1;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.4s;
}

.con_box:hover{
  transform: translateY(-20px);
}
.con_box .content_txt {
  background-color: #0f1721;
  border-radius: .5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.con_box:hover .content_txt {
  background-color: #0f1721e8;
}
.g_bg {
  background-image: linear-gradient(124deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .05) 46%, rgba(12, 37, 85, .3) 102%);
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  padding: 2px;
  transition: opacity .4s;
}
.g_bg:hover {
  background-image: linear-gradient(124deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .05) 46%, rgba(12, 37, 85, .5) 102%);
}
.content_txt{
  padding: 3rem;
  text-align: center;
}
.con_box .img_box img{
  max-width: 150px;
}
.content_txt h3 {
  font-family: Pretendard, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin:10px 0;
}
.content_txt p {
  font-family: Pretendard Regular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.sec01 .btn_more {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: var(--blue);
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  color: #0ec35b;
  font-family: Pretendard, sans-serif;
  margin-top: 30px;
}

/* sec02 */

.counter-list-wrap {
  justify-content: center;
  width: 100%;
  min-height: auto;
  display: flex;
}

.count-block-item {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  display: flex;
  position: relative;
}

.count-block-item:after{
  content: '';
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border:3px solid #0ec35b;
  opacity: .2;
  border-radius: 50%;
}

.counter-wrap {
  display: flex;
  color: #0ec35b;
  align-items: center;
  gap: 5px;
}

.counter-wrap .counter-text {
  margin-bottom: 10px;
  font-size: 4rem;
}
.counter-wrap p{
  font-size: 2rem;
  font-weight: 600;
}

.counter-text.text-color-white {
  color: var(--lightblue);
  font-family: Pretendard, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
}

.counterup {
  color: var(--blue);
  margin-bottom: 10px;
  font-family: Pretendard Bold, sans-serif;
  font-weight: 700;
}

.counterup.text-color-wh {
  color: var(--white);
  font-family: Pretendard, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
}

.paragraph-1-25 {
  text-align: center;
  font-family: Pretendard Regular, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.paragraph-1-25.text-color-white {
  color: var(--white);
}

.paragraph-1-25.text-color-white.text-align-left, .paragraph-1-25.text-align-left {
  text-align: left;
}

.paragraph-1-25.text-color-blue {
  color: var(--blue);
}

/* sec03 */
.sec03{
  background-color: #fff;
  position: relative;
  z-index: 9;
}
.sec03 .tit{
  color:#333; text-align: left; margin-bottom: 120px;
  font-family: Pretendard Bold, sans-serif;
}

.img_txt_wrap {padding-bottom: 400px;}
.img_txt_wrap.active .fix_area .change_img .img_box{top:0; opacity:1;}
.img_txt_wrap.active .fix_area .change_img .img_box .img_li .img{transform: scale(1.1); transition: transform 1s ease;}
.img_txt_wrap .sub_con_tit_area {position: relative; top: 80px; opacity: 0; transition: top 1s ease, opacity 1s ease;}
.img_txt_wrap .sub_con_tit_area.active {top: 0; opacity: 1;}
.img_txt_wrap .sub_con_tit_area .tit {position: relative; left: 0; top: 0; width: 100%; padding: 40px 0 50px; z-index: 1; background-color: #fff;}
.img_txt_wrap .fix_area {position: relative;}
.img_txt_wrap .fix_area:after {display: none;}
.img_txt_wrap .fix_area.on:after {content: ''; display: block; position: fixed; left: 50%; transform: translateX(-50%); bottom:  calc(12.5vh - 30px); width: 1200px; height: 140px; z-index: 1; background:linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); background:-webkit-linear-gradient(top bottom, rgba(255,255,255,0), rgba(255,255,255,1));}
.img_txt_wrap .fix_area .change_img {position: absolute; right: 0; top: 0; width: 50%; max-width: 585px; height: 75vh; border-radius: 50px; overflow: hidden; order: 1; z-index: 2; isolation: isolate;}
.img_txt_wrap .fix_area .change_img .img_box {position: relative; top:80px; opacity:0; height: 100%;  transition:top 1s ease, opacity 1s ease;}
.img_txt_wrap .fix_area .change_img .img_box .img_li {position: relative; width: 100%; height: 100%; overflow: hidden; border-radius: 14px; isolation: isolate;}
.img_txt_wrap .fix_area .change_img .img_box .img_li .img{width: 100%; height: 100%; transform: scale(1); transition: transform 1s ease; background-size: cover; background-position: center center; background-repeat: no-repeat;}
.img_txt_wrap .fix_area .change_img .img_box .img_li:nth-child(n+2) {position: absolute; left: 0; top: 0;}
.img_txt_wrap .fix_area .change_img .img_box .img_li:nth-child(1) {z-index: 3;}
.img_txt_wrap .fix_area .change_img .img_box .img_li:nth-child(2) {z-index: 2;}
.img_txt_wrap .fix_area .change_img .img_box .img_li:nth-child(3) {z-index: 1;}

.img_txt_wrap .fix_area .change_img .img_box .img_li img {position: relative; left: 50%; top: 0; transform: translateX(-50%) scale(1); width: auto; height: 100%; transition: transform 1s ease;}
.img_txt_wrap .fix_area .txt_wrap {position: relative; padding-right: 60px; width: 50%;}
.img_txt_wrap .fix_area .txt_wrap.on:before {content: ''; display: block; position: fixed; left: 0; top: 0; width: 100%; height: calc(12.5vh + 30px); background-color: #fff; z-index: 1;}
.img_txt_wrap .fix_area .txt_wrap.on:after {content: ''; display: block; position: fixed; left: 0; bottom: 0; width: 100%; height: calc(12.5vh - 30px); background-color: #fff; z-index: 1;}
.img_txt_wrap .fix_area .txt_wrap .txt_li {position: relative; display: flex; align-items: flex-end; padding-bottom: 80px; height: 75vh;}
.img_txt_wrap .fix_area .txt_wrap .txt_li:nth-child(n+2) {margin-top: 400px; top: 0;}


.esg_wrap .txt_box{float: none; flex-shrink: 1; display: block; margin: 0px; inset: 0px; position: relative; overflow: visible; box-sizing: border-box; width: 540px; height: 511px; padding: 0px;}
.esg_txt{transform: translate3d(0px, 0px, 0px); inset: 0px auto auto 0px; margin: 0px; max-width: 540px; width: 540px; max-height: 511.188px; height: 511.188px; padding: 0px 0px 70px;}


.sec03 .txt_box h2{
  font-family: "Urbanist", sans-serif;
  font-size: 5rem;
  margin-bottom: 20px;
  font-weight: 800;
}
.sec03 .txt_box h3{
  font-family: Pretendard Bold, sans-serif;
  font-size: 2rem;
  margin-bottom: 50px;
}
.sec03 .txt_box p{
  font-family: Pretendard Regular, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  word-break: keep-all;
}

.sec03 .btn_more{
  font-family: Pretendard, sans-serif;
  margin-top: 60px;
  display: inline-block;
  padding: 12px 30px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #0ec35b;
  border: 1px solid #0ec35b;
  transition: all 0.3s;
}

.sec03 .btn_more:hover{
  background-color: #0ec35b;
  color: #fff;
}


#header .utils .langs ul.active, #header .utils .langs ul:hover {
  width: 6.4285714286em;
  padding: 0 .3571428571em;
}

.header-inner{
  padding: 0 clamp(40px, 3.125vw, 80px);
  margin: 0 auto;
}





/* 소식/뉴스 */
/* 소식/뉴스 */
.news_sec {
  background-color: #f8f8f8;
}
.news_sec .txt_wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.news_sec .txt_wrap .tit{
  color: #333;
  font-family: Pretendard Bold, sans-serif;
}
.news_sec .btn_more02{
  border:1px solid #b3b3b3;
  padding: 10px 30px;
  border-radius: 5px;
}
.news_sec .btn_more02:hover{
  border:1px solid #c8c8c8;
  padding: 10px 30px;
  border-radius: 5px;
  color: #9d9d9d;
}


.news_wrap {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}
.news_wrap .news_box{
  width: 25%;
  position: relative;
  padding: 50px 0 0;
}
.news_wrap .news_box::before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.news_wrap .news_box:hover::before {
  width: 100%;
}

.news_wrap .news_box .list_tit{
  font-size: 1.2rem;
  margin-bottom: 20px;
  /* word-break: keep-all; */
}
.news_wrap .news_box .list_date{
  font-family: Pretendard Regular, sans-serif;
  color: #c7c7c7;
}





/* 채용안내 */
/* 채용안내 */
.recruit_bg {
  height: 300px;
  background-image: url('../img/recruit01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.link_box {width: 50%;}

.link_box a{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.link_box p.txt1{
  font-size: 28px;
  transform: translateY(20px);
  transition: all .5s;
  color: rgb(255, 255, 255, .6);
}

.link_box p.txt2{
  font-size: 18px;
  transform: translateY(40px);
  opacity: 0;
  transition: all .5s;
  color: #fff;
}
.link_box p.txt3{
  font-size: 18px;
  transform: translateY(60px);
  opacity: 0;
  transition: all .5s;
  color: #fff;
}

.link_box:hover p.txt1 {
  transform: translateY(-10px);
  color: #fff;
}

.link_box:hover p.txt2 {
  transform: translateY(10px);
  opacity: 1;
}
.link_box:hover p.txt3 {
  transform: translateY(30px);
  opacity: 1;
}

.link_box:first-child {
  border-right: 1px solid rgb(255, 255, 255, .4);
}


/* footer */
/* footer */
#footer{
  background-color: #2A292D;
}
#footer .inner{
  padding: 80px 20px;
  max-width: 1400px;
  margin: 0 auto;
}
#footer img{
  max-width: 150px;
}
#footer .f_info ul{
  margin: 30px 0;
}
#footer .f_info ul li{
  color: #fff;
  opacity: .8;
  font-family: Pretendard Regular, sans-serif;
  margin-bottom: 5px;
  font-size: 1rem;
}
#footer hr{
  opacity: .2;
  margin-bottom: 30px;
}
#footer .copy, #footer .f_link a{
  color: #fff;
  opacity: .8;
}
#footer .f_bottom{
  display: flex;
  justify-content: space-between;
}
#footer .f_link{
  display: flex;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: row;
  justify-content: space-between;
  font-family: Pretendard Regular, sans-serif;
}
#footer .f_link a:hover{
  opacity: 1;
}

.btn_top{
  display: none;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 999;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, .06); */
  /* border: 1px solid #e3e3e3; */
}
.btn_top a{
  display: block;
  padding: 20px 15px;
  background: rgba(0,0,0,0.6);
  color:#fff;
}
