@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

@font-face {
   font-family: 'Pretendard Medium';
   src: url('https://uploads-ssl.webflow.com/649bc60a5baf71dfbdca9f99/649bc60a5baf71dfbdca9fb9_Pretendard-Medium.subset.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'Pretendard Regular';
   src: url('https://uploads-ssl.webflow.com/649bc60a5baf71dfbdca9f99/649bc60a5baf71dfbdca9fc0_Pretendard-Regular.subset.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'Pretendard';
   src: url('https://uploads-ssl.webflow.com/649bc60a5baf71dfbdca9f99/649bc60a5baf71dfbdca9fc3_Pretendard-SemiBold.subset.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'Pretendard Bold';
   src: url('https://uploads-ssl.webflow.com/649bc60a5baf71dfbdca9f99/649bc60a5baf71dfbdca9fbb_Pretendard-Bold.subset.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
 }

/* default */
html{font-size: 16px;}
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family:"Pretendard","Montserrat","NotoSans", sans-serif; font-size: 16px; line-height: 1.3; color: #333;}
a{color: #333; text-decoration: none;}
img{border: none; vertical-align: top;}
select, input{vertical-align: top;}
ul, ol{list-style: none;}
button{background-color: transparent; border: none; cursor: pointer;}

.clear::after{content: ''; display: block; clear: both;}